{% extends 'base.html' %}
{% block content %}
    <h2 class="test">Active Recipients:</h2>
    <ul class="list-group">
        {% for recipient in recipients %}
        <li class="list-group-item"><strong>{{ recipient }}</strong> with donors:
            <ul class="list-group">{% for donor in recipient.donors.all %} <li  class="list-group-item">{{ donor}}</li>  {% endfor %}
            </ul>
        
        <div class="recipient-btn-group">
            <form action="store/{{ recipient.id }}" method="post"> {% csrf_token %}
                <input type="submit" name="store" value="Retrieve posts to DB (SYNC!)" class="btn btn-outline-primary"/>
            </form>
            <form action="repost/{{ recipient.id }}" method="post"> {% csrf_token %}
                <input type="submit" name="rep_now" value="Repost right now! (ASYNC!)" class="btn btn-outline-primary"/>
            </form>
            <form action="delete_posts/{{ recipient.id }}" method="post"> {% csrf_token %}
                <input type="submit" name="delete_posts" value="Delete all posts from DB (ASYNC!)" class="btn btn-outline-primary"/>
            </form>
        </div>
        </li>

        {% endfor %}
    </ul>
{% endblock content %}